/*
  MainColor: #f9274b;
*/

/* Start Golbal */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: regular;
}

a {
  text-decoration: none;
}

.clearfix {
  clear: both;
}

.container {
  width: 80%;
  margin: auto;
}

@font-face {
  font-family: light;
  src: url("../fonts/JF Flat light.ttf") format("opentype");
  src: url("../fonts/JF Flat light.eot") format("opentype");
  src: url("../fonts/JF Flat light.woff") format("opentype");
}

@font-face {
  font-family: regular;
  src: url("../fonts/JF-Flat-regular.ttf") format("opentype");
  src: url("../fonts/JF-Flat-regular.eot") format("opentype");
  src: url("../fonts/JF-Flat-regular.woff") format("opentype");
}

@font-face {
  font-family: meduim;
  src: url("../fonts/JF Flat medium.ttf") format("opentype");
  src: url("../fonts/JF Flat medium.eot") format("opentype");
  src: url("../fonts/JF Flat medium.woff") format("opentype");
}

.title {
  color: #222;
  font-size: 25px;
  font-family: meduim;
  letter-spacing: 4px;
  margin-bottom: 40px;
}

.title span {
  color: #f9274b;
  border-bottom: 2px solid #f9274b
}

/* End Golbal */
/* Start Main Header */
.main-header {
  background: url("../images/bg-main-header.jpg")no-repeat center center fixed;
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.main-header .overlay {
  min-height: 100vh;
  background-color: rgba(0,0,0,0.7)
}

.main-header .left-logo {
  float: left;
}

.main-header .left-logo h2 {
  color: #f9274b;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.main-header .right-menu {
  float: right
}

.main-header .right-menu ul {
  list-style-type: none;
}

.main-header .right-menu ul li {
  display: inline-block;
  padding: 10px 20px;
}

.main-header .right-menu ul li.active a {
  color: #f9274b;
  border-bottom: 3px solid #f9274b
}

.main-header .right-menu ul li a {
  color: #FFF;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.main-header .right-menu ul li a:hover {
  color: #f9274b;
  border-bottom: 3px solid #f9274b
}

.main-header .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
  color: #FFF;
}

.main-header .content h1 {
  color: #f9274b;
  font-family: meduim;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.main-header .content p {
  font-family: light;
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
}

.main-header .content a {
  display: inline-block;
  width: 150px;
  padding: 10px;
  border: 1px solid #f9274b;
  color: #FFF;
  margin-top: 35px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

.main-header .content a:hover {
  border: 1px solid #f9274b;
  background: #f9274b;
  color: #FFF;
}
/* End Main Header */
/* Start Our Features */
.our-features {
  padding: 80px 0;
  text-align: center;
}

.our-features .all-feat {
  display: flex;
}

.our-features .all-feat .feat {
  flex: 1;
  margin: 2.5px;
  border: 1px solid #DDD;
  padding: 10px;
}

.our-features .all-feat .feat i {
  color: #333;
}

.our-features .all-feat .feat h1 {
  color: #555;
  font-size: 20px;
}

.our-features .all-feat .feat p {
  font-size: 18px;
  font-family: light;
}

/* End Our Features */
/* Start Section Our Team */
.our-team {
  padding: 80px 0;
  text-align: center;
  background-color: #DDD;
}

.our-team .persons {
  display: flex;
}

.our-team .persons .person {
  flex: 1;
}

.our-team .persons .person img {
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.7;
}

.our-team .persons .person h3 {
  text-transform: uppercase;
  color: #444;
  margin-top: 20px;
}

.our-team .persons .person a {
  color: #f9274b;
  font-size: 20px;
}

.our-team .persons .person img:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  opacity: 1;
}
/* End Section Our Team */
/* Start Contact Us */
.contact-us {
  padding: 80px 0;
  text-align: center;
}

.contact-us .all-input {
  display: flex;
}

.contact-us .all-input .input-cont {
  flex: 1;
}

.contact-us .all-input .input-cont input,
.contact-us .all-input .input-cont textarea,
.contact-us .all-input .input-cont button {
  width: 90%;
  padding:12px 10px;
  outline: none;
  margin-bottom: 20px;
  border-radius: 0;
  border: 1px solid #DDD;
}

.contact-us .all-input .input-cont textarea {
  height: 128px;
}

.contact-us .all-input .input-cont button {
  background-color: #f9274b;
  border: 1px solid #f9274b;
  color: #FFF;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

.contact-us .all-input .input-cont button:hover {
  background-color: #FFF;
  color: #f9274b;
}

.contact-us .all-input .input-cont input:focus {
  border: 1px solid #f9274b
}

.contact-us .all-input .input-cont textarea:focus {
    border: 1px solid #f9274b
}
/* End Contact Us */
/* Start Footer */
.our-footer {
  padding: 40px 0;
  text-align: center;
  background-color: #000;
}

.our-footer h2 {
  color: #f9274b;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.our-footer ul {
  list-style-type: none;
}

.our-footer ul li {
  display: inline;
  padding: 0 10px;
}

.our-footer ul li a {
  color: #FFF;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

.our-footer ul li a:hover {
  color: #f9274b
}

.our-footer ul li a i {
  font-size: 18px;
}

.our-footer p {
  color: #FFF;
}

.our-footer p a {
  color: #f9274b;
  text-transform: uppercase;
}
/* End Footer */
